<br>
<br>
<br>
<br>
<table class="table  table-striped">
  <thead>
    <tr>
      <td><h3>{{ beer.name }}  </h3></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ beer.name }}</td>
    </tr>
    <tr>
      <td>Brewery</td>
      <td>{{ beer.brewery }}</td>
    </tr>
    <tr>
      <td>Style</td>
      <td>{{ beer.style }}</td>
    </tr>
    <tr>
      <td>Bitterness</td>
      <td>{{ beer.bitterness }}</td>
    </tr>
    <tr>
      <td>Alcohol</td>
      <td>{{ beer.alcohol }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ beer.description }}</td>
    </tr>

  </tbody>
</table>
