<div class="pure-u-1 pure-u-md-1-2">
    <div class="l-box">
        <h3 class="information-head">Details</h3>
    </div>
</div>
<br>
<br>
<body>
  <div class="l-content">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pricing-table pricing-table-biz pricing-table-selected">
        <div class="pricing-table-header">
          <h2>{{ beer.name }}</h2>
        </div>
        <ul class="pricing-table-list">
          <li>{{ beer.brewery }}</li>
          <li>{{ beer.style }}</li>
          <li>{{ beer.bitterness }} IBU</li>
          <li>{{ beer.alcohol }} %</li>
          <li>{{ beer.description }}</li>
        </ul>
      </div>
    </div>
  </div>
</body>